.board {
  display: flex;
  border: 4px outset #fff;
  margin: 4px;
  padding: 8px;
  flex-direction: column;
  background-color: #ddd;
}

.board .header {
  border: 4px inset #fff;
  background-color: #ddd;
  margin-bottom: 8px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.observerFace {
  font-size: 28px;
  line-height: 30px;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border: 4px outset #fff;
  padding: 4px;
}

.field {
  display: flex;
  border: 4px inset #fff;
  padding: 0;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.field .row {
  flex-direction: row;
}

.field .cell {
  width: 28px;
  height: 28px;
  font-size: 18px;
  line-height: 30px;
  border: 4px outset #fff;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.field .cell.revealed {
  transition: 250ms;
  background-color: #ccc;
  border: 2px solid #bbb;
}
