#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
:after,
:before {
  border: 0 solid #e3e3e3;
  box-sizing: border-box;
  font-family: 'pixel-art', sans-serif;
}

div {
  display: flex;
}
